<nav id="mainNav">
		<div class="inner">
			<a class="menu" id="menu"><span>MENU</span></a>
			<div class="panel">
				<ul>
					<li class="current-menu-item"><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li>
					<li>
						<a href="sample.html"><strong>妊娠期情報</strong><span>Greeting</span></a>
						<ul class="sub-menu">
							<li><a href="sample.html">妊婦さん向けの</a></li>
							<li><a href="sample.html">ママのためのQ＆A～妊娠期～</a></li>
						</ul>
          <li>
            <a href="sample.html"><strong>授乳期情報</strong><span>pregnancy period</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">授乳のはなし</a></li>
              <li><a href="sample.html">ミルクの作り方＆月齢ごとの量</a></li>
              <li><a href="sample.html">すくすくQ＆A<br>～授乳期編～</a></li>
            </ul>
          </li>
          <li>
            <a href="sample.html"><strong>離乳食情報</strong><span>lactation period</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">離乳食の進め方</a></li>
              <li><a href="sample.html">離乳食レシピ</a></li>
              <li><a href="sample.html">すくすくQ＆A<br>～離乳食編～</a></li>
            </ul>
          </li>
          <li>
            <a href="sample.html"><strong>会員情報</strong><span>Member information</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">会員情報<br>確認・変更</a></li>
            </ul>
          </li>
          <li>
            <a href="sample.html"><strong>お問い合わせ</strong><span>Contact</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">サポートセンター</a></li>
              <li><a href="sample.html">問い合わせQ＆A</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>

	<div id="wrapper">
		<div id="mainBanner">
    <%= image_tag "top_foto.jpg", class:"top-icon" %>
			<div class="slogan"><h1>ママ・パパのための総合情報サイト</h1>
		</div>
	</div>

<section class="content">
  <h2 class="heading">離乳食の進め方</h2>
    <article class="post">
      <h3 class="heading">離乳食開始後約1か月間は、1日1回食で慣らしていきます</h3>
        <p>・お子さまの機嫌や健康状態のよい時に始めましょう。</p>
        <p>・初めてあげる食品は1日1品1さじから始めます。</p>
        <p>・あげるのは午前中の授乳前が適しています。</p>
        <p>・なめらかにすりつぶした状態のものから始めます。つぶしがゆから始め、すりつぶした野菜なども試してみます。慣れてきたら、つぶした豆腐・白身魚・卵黄などを試してみましょう。</p>
        <p>・食べ物を口から出してしまう時は、少量を下唇の上にのせるようにしてみましょう。</p>
      <h3 class="heading">離乳開始して1か月をすぎた頃から1日2回食に進めます</h3>
        <p>・新しい食品は午前中に、慣れた食品は午後にあげましょう。</p>
        <p>・2回目は、1回食の1/3量から始め、徐々に増やします。</p>
        <p>・形態はなめらかにすりつぶした状態のまま徐々に食品の種類、量を増やします。</p>
        <p>・母乳育児の場合、生後6か月頃から鉄欠乏を生じやすくなるため、鉄を含む食品を取り入れたり、ミルクを離乳食の素材として利用してもよいでしょう。</p>
    </article>
</section>

<section class="content">
  <h2 class="heading">食品の種類と組合せ</h2>
    <article class="post">
      <h3 class="heading">離乳食開始後約1か月間は、1日1回食で慣らしていきます</h3>
        <%= image_tag "baby_food_plan.png", class:"top-icon" %>
        <p>与える食品は、離乳の進行に応じて、種類を増やしていきます。離乳の開始は、おかゆ（米）から始める。新しい食品を始める時には離乳食用のスプーンで1さじずつ与え、子どもの様子をみながら量を増やしていきます。慣れてきたらじゃがいもや人参等の野菜、果物、さらに慣れたら豆腐や白身魚、固ゆでした卵黄など、種類を増やしていきます。離乳が進むにつれ、魚は白身魚から赤身魚、青皮魚へ、卵は卵黄から全卵へと進めていきます。食べやすく調理した脂肪の少ない肉類、豆類、各種野菜、海藻と種類を増やしていきます。脂肪の多い肉類は少し遅らせます。野菜類には緑黄色野菜も用います。またヨーグルト、塩分や脂肪の少ないチーズも利用できます。牛乳を飲用として与える場合は、鉄欠乏性貧血の予防の観点から、1歳を過ぎてからが望ましいです。離乳食に慣れ、1日2回食に進む頃には、穀類（主食）、野菜（副菜）・果物、たんばく質性食品（主菜）を組み合わせた食事とします。また、家族の食事から調味する前のものを取り分けたり、薄味のものを適宜取り入れたりして、食品の種類や調理方法が多様となるような食事内容にします。母乳育児の場合、生後6か月の時点で、ヘモグロビン濃度が低く、鉄欠乏を生じやすいとの報告があります。また、ビタミンD欠乏の指摘もあることから、母乳育児を行っている場合は、適切な時期に離乳を開始し、鉄やビタミンDの供給源となる食品を積極的に摂取するなど、進行を踏まえてそれらの食品を意識的に取り入れることが重要です。</p>
      <h3 class="heading">調理形態・調理方法</h3>
        <%= image_tag "baby_food_descriptions.jpg", class:"top-icon" %>
        <p>離乳の進行に応じて、食べやすく調理したものを与えます。子どもは細菌への抵抗力が弱いので、調理を行う際には衛生面に十分に配慮します。食品は、子どもが口の中で押しつぶせるように十分な固さになるよう加熱調理をします。初めは「つぶしがゆ」とし、慣れてきたら粗つぶし、つぶさないままへと進め、軟飯へと移行します。野菜類やたんぱく質性食品などは、始めはなめらかに調理し、次第に粗くしていきます。離乳中期頃になると、つぶした食べ物をひとまとめにする動きを覚え始めるので、飲み込み易いようにとろみをつける工夫も必要になります。調味について、離乳の開始時期は、調味料は必要ありません。離乳の進行に応じて、食塩、砂糖など調味料を使用する場合は、それぞれの食品のもつ味を生かしながら、薄味でおいしく調理します。油脂類も少量の使用とします。<br>参考文献：2019年3月厚生労働省「授乳・離乳の支援ガイド」</p>
    </article>
</section>

<section class="gridWrapper">
  <article class="grid">
    <div class="box">
      <%= image_tag "list.png", class:"top-icon" %>
      <h3>食材チェックリスト</h3>
        <p>月齢ごとに食べてよい食材を確認してみましょう。</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
    </div>
  </article>
  <article class="grid">
    <div class="box">
      <%= image_tag "doyuga.png", class:"top-icon" %>
      <h3>動画で分かる離乳食の基本</h3>
        <p>はじめて離乳食を作るママ・パパへ！動画で「離乳食のきほん」がすぐにわかります。</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
    </div>
  </article>
  <article class="grid">
    <div class="box">
      <%= image_tag "ibwnto.png", class:"top-icon" %>
      <h3>イベント離乳食レシピ</h3>
        <p>お誕生日のお祝い事や季節の特別な離乳食レシピご紹介</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
    </div>
  </article>
</section>